

<ion-content>
  <ion-row class="padding">
    <ion-col size="8">
      <div class="user-thumb"></div>
    </ion-col>
    <ion-col>
      <div class="details">
        <p>You know you're in love when you can't fall asleep because reality is finally better than your dreams. </p>
         <p>And I said, "Yaaaasss!" </p>
         <p>The count down begins to call me Mrs.</p>      
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1>Hepsi Phillips</h1>
      <h2>Work @ GlobalizeMe</h2>
    </ion-col>
  </ion-row>
</ion-content>
