// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// @import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;562;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/** Ionic CSS Variables **/
:root {
  /** Marriage App V4 **/
  --ion-white-color: #ffffff;
  // --ion-primary-color: #d0dbd7;
  // --ion-nav-btn-color: #9fc9c0;
  //=======================//
  // --ion-primary-color: #fdef96;
  // --ion-nav-btn-color: #b7dcec;
  //====================//
  // --ion-primary-color: #b7dcec;
  // --ion-nav-btn-color: #fdef96;
  //======================
  //====================//
  // --ion-primary-color: #b7dcec;
  // --ion-nav-btn-color: #f9cce0;
  //====================//
  // --ion-primary-color: #f9cce0;
  // --ion-nav-btn-color: #b7dcec;

  //======================//
  // --ion-primary-color: #f9cce0;
  // --ion-nav-btn-color: #fdef96;
  //================//
  // --ion-primary-color: #f9cce0;
  // --ion-nav-btn-color: #d5c5e0;
  //================//
  // --ion-primary-color: #d5c5e0;
  // --ion-nav-btn-color: #f9cce0;
  // ==================//

  // aspire gold and baby blue //
  // --ion-primary-color: #ffd662ff;
  // --ion-nav-btn-color: #00539cff;
  //====================//
  //baby blue and aspire gold  //
  // --ion-primary-color: #00539cff;
  // --ion-nav-btn-color: #ffd662ff;
  //====================//
  // //rosepink and purple  //
  // --ion-primary-color: #df6589ff;
  // --ion-nav-btn-color: #3c1053ff;
  // //====================//
  // //purple and rosepink  //
  // --ion-primary-color: #3c1053ff;
  // --ion-nav-btn-color: #df6589ff;
  // //====================//
  // //pinksalt and charcoal gray  //
  // --ion-primary-color: #fad0c9ff;
  // --ion-nav-btn-color: #6e6e6dff;
  // //====================//
  //charcaol grey and charcoal pinksalt  //
  // --ion-primary-color: #6e6e6dff;
  // --ion-nav-btn-color: #fad0c9ff;
  //====================//
  //charcaol grey and charcoal pinksalt  //
  // --ion-primary-color: #6e6e6dff;
  // --ion-nav-btn-color: #fad0c9ff;
  //====================//
  --ion-primary-color: #2c5f2d;
  --ion-nav-btn-color: #97bc62ff;
  //===============//

  --ion-grey-color: #cccccc;
  --ion-font-family: "Montserrat", sans-serif;
}
/* common css starts */
ion-col {
  padding: 0;
}
ion-row {
  padding: 0;
}
ion-grid {
  padding: 0;
}
.d-flex {
  display: flex;
}
.justify-space-even {
  justify-content: space-evenly;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
/* nav bar design */
.nav-bar {
  --background: var(--ion-nav-btn-color);
  color: var(--ion-white-color);
  font-family: "Dancing Script", cursive;
}

// Icon Set
.c-icon{  
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.c-icon.icon-calender{
  background-image: url("../assets/icon/calendar.svg");
}
.c-icon.icon-images{
  background-image: url("../assets/icon/images.svg");
}
.c-icon.icon-home{
  background-image: url("../assets/icon/home.svg");
}
.c-icon.icon-pushpin{
  background-image: url("../assets/icon/pushpin.svg");
}
.c-icon.icon-man{
  background-image: url("../assets/icon/man.svg");
}
.c-icon.icon-woman{
  background-image: url("../assets/icon/woman.svg");
}
.c-icon.icon-wish{
  background-image: url("../assets/icon/telegram.svg");
}