// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// @import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;562;600;700&display=swap");
/** Ionic CSS Variables **/
:root {
  /** Marriage App V4 **/
  --ion-white-color: #ffffff;
  --ion-primary-color: #d0dbd7;
  --ion-nav-btn-color: #9fc9c0;
  --ion-font-family: "Dancing Script", cursive;
}
/* common css starts */
ion-col {
  padding: 0;
}
ion-row {
  padding: 0;
}
ion-grid {
  padding: 0;
}
/* nav bar design */
.nav-bar {
  --background: var(--ion-nav-btn-color);
  color: var(--ion-white-color);
}
