// // ion-content {
// //   position: relative !important;
// // }
.main-layout {
  height: 100%;
  ion-row {
    height: 100%;
    .half-bg {
      background-color: var(--ion-primary-color);
      height: 100%;
    }
  }
}

.center-image-sec {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  top: 4%;
  right: 0;
  width: 85%;
  .center-image {
    background-image: url("../../../assets/img/CM-BG-059-1.jpg");
    margin-bottom: 1.5rem;
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    border-left: 10px solid var(--ion-white-color);
    border-right: 10px solid var(--ion-primary-color);
    border-radius: 14px;
    outline: 0;
    img {
      width: 100%;
      // object-fit: contain;
      // height: 70vh;
      // position:relative;
    }
  }
  .center-image:before {
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 9;
    background: linear-gradient(
      to right,
      var(--ion-white-color) 50%,
      var(--ion-primary-color) 50%
    );
  }
  .center-image::after {
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 9;
    background: linear-gradient(
      to right,
      var(--ion-white-color) 50%,
      var(--ion-primary-color) 50%
    );
  }
  .timer-sec {
    background: var(--ion-white-color);
    padding: 0.5rem;
    border-radius: 10px;
    -webkit-box-shadow: 15px 7px 21px -5px rgb(217, 216, 218);
    -moz-box-shadow: 15px 7px 21px -5px rgb(217, 216, 218);
    box-shadow: 15px 7px 21px -5px rgb(217, 216, 218);
    .time-size {
      font-size: 1rem;
      font-weight: 500;
      color: var(--ion-nav-btn-color);
      margin: 0;
      flex: 1;
      border-right: 1px solid var(--ion-grey-color);
      .time-value {
        text-align: center;
        display: block;
      }
      .time-measure {
        display: block;
        font-size: 0.8rem;
        color: var(--ion-grey-color);
        font-weight: 600;
        text-align: center;
      }
    }
    .time-size:last-of-type {
      border-right: 0;
    }
  }
  .btn-right {
    text-align: right;
    margin: 1rem 0 0 0;
    .explore-btn {
      --ion-color-base: var(--ion-white-color) !important;
      background-color: var(--ion-nav-btn-color);
      font-size: 1rem;
      padding: 0.8rem 1rem;
      border-radius: 14px;
      font-weight: bold;
      height: auto;
      .white-right-arrow {
        width: 1.2rem;
        margin-left: 1px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../../../assets/img/right-white-arrow.png);
        display: inline-block;
      }
    }
  }
}
