<ion-header>
  <ion-toolbar class="nav-bar">
    <ion-title>
      Karthick weds Hephsibha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="main-layout" ion-no-padding no-margin>
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <ion-row class="full-row-layout">
          <ion-col col-6 no-padding class="half-bg"></ion-col>
          <ion-col col-6 no-padding></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="center-image-sec">
    <div class="center-image">
      <img src="../../assets/img/CM-BG-059-1.jpg" />
    </div>

    <ion-grid>
      <ion-row justify-content-center>
        <ion-col class="timer-sec ion-align-self-center" size="8">
          <span> {{counter.days}}D </span>- <span> {{counter.hours}}H </span>
          <span> {{counter.minutes}}M </span>
          <span> {{counter.seconds}}S </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="btn-right">
      <ion-buttons slot="start">
        <ion-button routerLink="/index" color="primary" class="explore-btn"
          >Explore <ion-icon name="arrow-dropright"></ion-icon
        ></ion-button>
      </ion-buttons>
    </div>
  </div>
</ion-content>
