

<ion-content>
    <ion-row class="padding">
        <ion-col size="8">
            <div class="user-thumb"></div>
        </ion-col>
        <ion-col>
            <div class="details">
                <p>Running away from marriage got me running straight into Hepsi's life!</p>
                <p>When you realise you want to spend the rest of your life with somebody, you want the rest of your life to start as soon as possible.</p>      
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h1>Karthick</h1>
            <h2>Work @ GlobalizeMe</h2>
        </ion-col>
    </ion-row>
  </ion-content>
  