<ion-tabs>

  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="home">
      <span class="c-icon icon-home"></span>
    </ion-tab-button>

    <ion-tab-button tab="groom-page">
      <span class="c-icon icon-man"></span>
    </ion-tab-button>

    <ion-tab-button tab="bride-page">
      <span class="c-icon icon-woman"></span>
    </ion-tab-button>

    <ion-tab-button tab="photos">
      <span class="c-icon icon-images"></span>
    </ion-tab-button>

    <ion-tab-button tab="wedding-event">
      <span class="c-icon icon-calender"></span>
    </ion-tab-button>

    <ion-tab-button tab="wishes-list">
      <span class="c-icon icon-wish"></span>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>