<ion-header>
  <ion-toolbar>
    <ion-title>Wishes</ion-title>
    <ion-button slot="end" (click)="closeModal()">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/images/avatar-yoda.png">
    </ion-avatar>
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>Vijay Anandh</h2>
      <p>sgfjsrhgelr hglje rheglj herlj ghelrj gher jg erhlge lkg krhglerg ehrgelrgehrkghelr khgklrh gklerh glkreh hglrek hlkglerk hrekl gher lkgher lkgherklghrelkgrelkg krehg lke ghrle hglkre hgklreh glkerh glkreh glkhrlkh </p>
      <p class="align-text-right">sdfdsns gsgd gsfj gfdjdgljdfk lgkfd lkfg </p>
    </ion-label>
  </ion-item>

</ion-content>
