
    .empty-alert{
        font-size: 27px;
        text-align: center;
        margin-top: 32vh;
        font-weight: bold;
        color: #9e9898;
    }
    .align-text-right{
        text-align: right;
    }