
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Wishes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button routerLink="/index/add-wishes">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

  <ion-list>
    <ion-item class="item ios in-list ion-focusable item-label hydrated"  [hidden]="!item" *ngFor="let item of wArray; let i = index">
      <ion-avatar slot="start" class="ios hydrated">
        <img src="../../../assets/images/avatar-yoda.png">
      </ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>{{ item.name }}</h2>
        <p>{{ item.content }}</p>
        <p class="align-text-right">{{  moment.utc(item.createdAt).format('lll')  }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <p *ngIf="!wArray.length" class="empty-alert">No Wishes found</p>

</ion-content>
